@model WebApp.Models.ProductModel

@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="productDetail">
    <div class="productDetailImageContainer">
        <a href="@Url.Action("Index", "Product", new { id = @Model.ProductId })">
            <img class="productBoxImage img-rounded" src="\Images\Products\@Model.ImageUrl" alt="@Model.ProductName" />
        </a>
    </div>
    <div>
        <div class="text-capital text-bold">
            <a href="@Url.Action("Index", "Product", new { id = @Model.ProductId })">
                <strong>@Model.ProductName</strong>
            </a>
        </div>
        <div class="mt5">Code: @Model.EanCode</div>
        <div class="mt5">Length: @Model.Length cm</div>
        <div class="mt5">Width: @Model.Width cm</div>
        <div class="mt5">Height: @Model.Height cm</div>
        <div class="mt5">Cbm: @Model.Cbm m&#179;</div>
        <div class="mt5">
            <span class="text-bold">
                Price: @Model.Price kr/st
            </span>
        </div>
        <div class="mt5 mb10">
            <input type="text" class="productBoxCount" min="1" max="99" data-product-add-count value="@Model.ProductCount" />
            <button type="button" class="btn btn-primary productBoxBuy" onclick="addProduct(this);" data-product-add-id="@Model.ProductId">Add</button>
        </div>
    </div>
</div>