@model WebApp.Models.MemberModel

@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
}

<br />
<div class="container">

    <div class="row">
        <div class="col-md-8">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {<h2>Login...</h2>
                <fieldset>
                    <div class="mt20 row">
                        <div class="col-md-2">@Html.Label("Email:")</div>
                        <div class="col-md-3">@Html.TextBoxFor(u => u.EmailAddress, new { @placeholder = "user@email.com", @class = "form-control" })</div>
                        <div class="col-md-3">@Html.ValidationMessageFor(u => u.EmailAddress)</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Password:")</div>
                        <div class="col-md-3">@Html.PasswordFor(u => u.Password, new { @placeholder = "password", @class = "form-control" })</div>
                        <div class="col-md-3">@Html.ValidationMessageFor(u => u.Password)</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2"><input type="submit" class="btn btn-primary form-control" value="Login"></div>
                    </div>
                </fieldset>
                <span>@ViewBag.LoginError </span><br />
            }
            <hr />
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <h2>Or Register...</h2>
                <fieldset>
                    <div class="mt20 row">
                        <div class="col-md-2">@Html.Label("Name:")</div>
                        <div class="col-md-3">@Html.TextBoxFor(u => u.MemberName, new { @placeholder = "Name", @class = "form-control" })</div>
                        <div class="col-md-3">@Html.ValidationMessageFor(u => u.EmailAddress)</div>
                    </div>
                    <div class="mt20 row">
                        <div class="col-md-2">@Html.Label("Email:")</div>
                        <div class="col-md-3">@Html.TextBoxFor(u => u.EmailAddress, new { @placeholder = "User@Email.Com", @class = "form-control" })</div>
                        <div class="col-md-3">@Html.ValidationMessageFor(u => u.EmailAddress)</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Password:")</div>
                        <div class="col-md-3">@Html.PasswordFor(u => u.Password, new { @placeholder = "Password!!!", @class = "form-control" })</div>
                        <div class="col-md-3">@Html.ValidationMessageFor(u => u.Password)</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2"><input type="submit" class="btn btn-primary form-control" value="Regster"></div>
                    </div>
                </fieldset>
                <span>@ViewBag.RegstrationError </span><br />
            }
        </div>
    </div>
</div>