@model  WebApp.Models.CartModel
<div class="row text-primary">
    <div class="col-md-2">
        Product
    </div>
    <div class="col-md-2">
        Cbm
    </div>
    <div class="col-md-2">
        Price
    </div>
    <div class="col-md-2">
        Count
    </div>
    <div class="col-md-2">
        Total
    </div>
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-8">&nbsp;</div>
    </div>
</div>
@foreach (var item in Model.CartItems)
{
    <div class="row data-product-add-container">
        <div class="col-md-2">
            <img class="img-responsive" src="\Images\Products\@item.ImageUrl" alt="@item.ProductName" width="50" height="50">
            <div class="mt5 text-capital">
                @Html.DisplayFor(modelItem => item.ProductName)
            </div>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.Cbm)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(modelItem => item.PriceOut)
        </div>
        <div class="col-md-2">
            @Html.HiddenFor(modelItem => item.ProductId, new { @data_product_add_id = @item.ProductId })
            @Html.TextBoxFor(modelItem => item.ProductCount, new { @data_product_add_count = "1", @onchange = "changeProductCount(this);", @style = "width: 30px;" })
        </div>
        <div class="col-md-2">
            Cbm: @Html.DisplayFor(modelItem => item.TotalCbm) m&#179;<br />
            Price: @Html.DisplayFor(modelItem => item.TotalPriceOut) kr
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-danger" style="width: 40px;" onclick="removeProduct(this);">X</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">&nbsp;</div>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-7">&nbsp;</div>
    <div class="col-md-2 text-right">Total Count:</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.CartProductCount)</div>
</div>
<div class="row">
    <div class="col-md-7">&nbsp;</div>
    <div class="col-md-2 text-right">Total Cbm:</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.CartTotalCbm) m&#179;</div>
</div>
<div class="row">
    <div class="col-md-7">&nbsp;</div>
    <div class="col-md-2 text-right">Total Price:</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.CartTotalPriceOut) kr</div>
</div>
<div class="row right">
    @using (Html.BeginForm("Confirm", "ShoppingCart", FormMethod.Post))
    {
        <input type="submit" value="Confirm" class="mt10 btn btn-primary" />
        <span>@ViewBag.message </span><br />
    }
</div>
